# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Sensitive files
.env

# Application script if you don't want to push it
app.py

# Virtual environment directory
planetary-api-env/

# SQLite database
planets.db

